<!DOCTYPE html>
<html>
<head>
	<title>Simple Calculator</title>
	<style>
		body {
			display: flex;
			align-items: center;
			justify-content: center;
			min-height: 100vh;
		}
		.calculator {
			display: flex;
			flex-wrap: wrap;
			width: 240px;
			background-color: skyblue;
			padding: 20px;
			border-radius: 5px;
		}
		.calculator > button {
			width: 50px;
			height: 50px;
			margin: 5px;
			border-radius: 5px;
		}
		.result {
			width: 168px;
			height: 57px;
			margin: 1px 5px;
			padding: 0 1px;
			background-color: white;
			display: flex;
			align-items: center;
			justify-content: flex-end;
			border-radius: 2px;
		}
		#.result > span {
			margin: auto 10px;
			overflow: auto;
		}
		.operator, .clear, .equal {
			background-color: white;
		}
		p {
			padding: 0;
			margin: 5px auto 0 auto;
			color: white;
			font-style: italic;
		}
	</style>
</head>
<body>

	<div id="calculator" class="calculator">
		<div id="result" class="result">
			<span>{{ arithString }}</span>
		</div>
		<button v-on:click="divide" class="operator" :disabled = "isOperator">/</button>
		<button v-on:click="num(7)" class="value">7</button>
		<button v-on:click="num(8)" class="value">8</button>
		<button v-on:click="num(9)" class="value">9</button>
		<button v-on:click="multiply" class="operator" :disabled = "isOperator">*</button>
		<button v-on:click="num(4)" class="value">4</button>
		<button v-on:click="num(5)" class="value">5</button>
		<button v-on:click="num(6)" class="value">6</button>
		<button v-on:click="minus" class="operator" :disabled = "isOperator">-</button>
		<button v-on:click="num(1)" class="value">1</button>
		<button v-on:click="num(2)" class="value">2</button>
		<button v-on:click="num(3)" class="value">3</button>
		<button v-on:click="plus" class="operator" :disabled = "isOperator">+</button>
		<button v-on:click="num(0)" class="value">0</button>
		<button v-on:click="clearResult" class="clear">c</button>
		<button v-on:click="equals" class="equal" :disabled = "isOperator">=</button>
		</div>
	</div>

	<!-- vue -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

	<script>
		// var data = '';

		var app = new Vue({
			el: '#calculator',
			data:{
					equalsIsPressed: false,
					isOperator: true,
					arithString: ''
			},
			methods:{
				clearResult: function(){
					this.isOperator = true;
					this.arithString = ''
				},

				num: function(number){
					if (this.equalsIsPressed){
						this.equalsIsPressed = false;
						this.clearResult();
					}
					this.isOperator = false;
					this.arithString += number;
				},

				plus: function(){
					this.isOperator = true;
					this.arithString += '+';
				},

				minus: function(){
					this.isOperator = true;
					this.arithString += '-';
				},

				divide: function(){
					this.isOperator = true;
					this.arithString += '/';
				},

				multiply: function(){
					this.isOperator = true;
					this.arithString += '*';
				},

				equals: function(){
					this.equalsIsPressed = true;
					data = eval(this.arithString);
					this.arithString = data;
				}
			}
		})
	</script>

</body>
</html>