<!DOCTYPE html>
<html>
<head>
	<title>Simple Todo List</title>
	<style>
		body {
			display: flex;
			align-items: center;
			justify-content: center;
			min-height: 100vh;
		}
		#todo-list {
			display: flex;
			flex-wrap: wrap;
			width: 240px;
			background-color: skyblue;
			padding: 20px;
			border-radius: 5px;
		}
		#todo-count {
			width: 240px;
			height: 57px;
			margin: 1px 5px;
			padding: 0 1px;
			background-color: white;
			display: flex;
			align-items: center;
			justify-content: flex;
			border-radius: 2px;
		}
		#list-elem > span {
			margin: auto 10px;
		}

	</style>
</head>
<body>

	<div id="todo-list" class = "todo-list">	

		<h1 id="title">My Todo List</h1>

		<div id="todo-count" class = "todo-count" v-if="todos.length != 0">
			<!-- the count of items in your todo list should be displayed here -->
			<span >Number of things to-do : {{ todos.length }}</span>
		</div>

		<ul id="list-elem" class = "list-elem">
			<!-- the items in your todo list should be displayed here -->
			<li v-for="todo in todos">
			      {{ todo }}
			</li>
		</ul>

		<form id="add-todo">
			<input v-model="task" id="add-todo-input" type="text" placeholder="what will i do?">
			<button v-on:click="addTask" id="add-todo-button" type='button'>Add</button>
		</form>

	</div>

	<!-- vue -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

	<!-- my script -->
	<script>
		// implement simple todo list using VueJs :)

		var app = new Vue({
			el: '#todo-list',
			data:{
				task: '',
				todos: []
			},
			methods:{
				addTask: function(){
					this.todos.push(this.task)
				}
			}
		})

	</script>
</body>
</html>